
<div class="container-fluit main">
    <div class="d-flex align-items-center mt-5 flex-column">
        <div class="logo"><img src="./img/SamDU logo full.png" alt="logo"></div>
        <h1>
            Samarqand Davlat Unversiteti <span> Darslar Jadvali </span>
        </h1>
        <div>
            <a href="/faculty" class="btn-begin">Boshlash</a>
        </div>
        <div class="time-table">
            <img src="img/timetable.png" alt="">
        </div>
    </div>
</div>


